{% extends "base.html" %}
{% load static %}
{% block title %}
Home Page
{% endblock title %}

{% block content %}
{%if messages%}
<script>
  document.addEventListener("DOMContentLoaded",function(){
    {% for msg in messages%}
      Swal.fire({
        icon: '{{ msg.tags }}',
        title: '{{ msg.tags|title }}',
        text: '{{ msg}}',
        showConfirmButton: false,
        timer: 3000
      })
    {% endfor%}
  })
</script>
{%endif%}
<div class="swiffy-slider slider-nav-visible slider-nav-animation slider-nav-animation-slow" id="animatedText">

    <ul class="slider-container" id="container1">
        <li id="slide1" class="">
            <div>
                <img src="{% static 'images/slide-02.jpg'%}" alt="..." loading="lazy" class="w-100">
                <p class="display-1 text-white position-absolute top-50 start-50 translate-middle">Give the Gift of Life<br><a
                    href="{% url 'register' %}"
                    class="btn btn-danger"
                    type="submit"
                    >Register Now</a
                  ></p>
            </div>

        </li>
        <li id="slide2" class="">
            <div>
                <img src="{% static 'images/slide-03.jpg'%}" alt="..." loading="lazy" class="w-100">
                <h5 class="display-1 text-white position-absolute top-50 start-50 translate-middle">Join the Lifesaving Journey<br><a
                    href="{% url 'register' %}"
                    class="btn btn-danger"
                    type="submit"
                    >Register Now</a
                  ></h5>
            </div>
        </li>
    </ul>

    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>

    <div class="slider-indicators">
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
</div>

<section class="section bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card bg-danger text-white p-3">
                    <h6 class="card-title mt-2">People Registered as Blood Donors</h6>
                    <h3 class="card-text"><span class="js-counter">12</span>k+</h3>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card bg-danger text-white p-3">
                    <h6 class="card-title mt-2">Happy Smiles</h6>
                    <h3 class="card-text"><span class="js-counter">14</span>k</h3>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card bg-danger text-white p-3">
                    <h6 class="card-title mt-2">Volunteers</h6>
                    <h3 class="card-text"><span class="js-counter">400</span></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="gallery" class="bg-body-tertiary mt-4 mb-3">
    <h1 class="text-danger text-center">Our Gallery</h1>
    <div class="d-flex flex-wrap justify-content-center m-auto gap-3">
        <div class="card gallery-card" style="width: 18rem;">
            <img src="{% static 'images/g1.jpg'%}" class="card-img-top rounded-1" alt="...">
            <div class="overlay"></div>
        </div>
        <div class="card gallery-card" style="width: 18rem;"> 
            <img src="{% static 'images/g2.jpg'%}" class="card-img-top rounded-1" alt="...">
            <div class="overlay"></div>
        </div>
        <div class="card gallery-card" style="width: 18rem;">
            <img src="{% static 'images/g3.jpg'%}" class="card-img-top rounded-1" alt="...">
            <div class="overlay"></div>
        </div>
        <div class="card gallery-card" style="width: 18rem;">
            <img src="{% static 'images/g4.jpg'%}" class="card-img-top rounded-1" alt="...">
            <div class="overlay"></div>
        </div>
        <div class="card gallery-card" style="width: 18rem;">
            <img src="{% static 'images/g6.jpg'%}" class="card-img-top rounded-1" alt="...">
            <div class="overlay"></div>
        </div>
        <div class="card gallery-card" style="width: 18rem;">
            <img src="{% static 'images/g7.jpg'%}" class="card-img-top rounded-1" alt="...">
            <div class="overlay"></div>
        </div>
        <div class="card gallery-card" style="width: 18rem;">
            <img src="{% static 'images/g8.jpg'%}" class="card-img-top rounded-1" alt="...">
            <div class="overlay"></div>
        </div>
        <div class="card gallery-card" style="width: 18rem;">
            <img src="{% static 'images/g9.jpg'%}" class="card-img-top rounded-1" alt="...">
            <div class="overlay"></div>
        </div>
    </div>
</div>

<section>
    <div id="faq" class="faq container mt-5">
        <h1 class="text-danger">FAQs</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    #  Is my personal information secure on the Blood Bank platform?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Yes, we prioritize the security and privacy of user information. We employ encryption and security measures to protect your data.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    #  Can I edit my profile information after registration?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Yes, you can edit your profile information like age, city, countery and last donate date by navigating to the "Profile" section on navbar</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    #  How can I view ongoing blood donation requests?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Visit the "All_Requests" section on your dashboard to view ongoing donation requests. You can click on the "Accept" button for events you wish to participate in.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                    #  How can I create a blood donation event on the platform?
                </button>
              </h2>
              <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Once logged in, navigate to your navbar and find the option to create_request. Fill in the details of the blood donation event and submit. The event will be visible to other users.
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

<link rel="stylesheet" href="{% static 'style.css' %}">
